.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.container::after {
    height: 4px;
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
    background: linear-gradient(rgba(9, 30, 66, 0.13) 0px, rgba(9, 30, 66, 0.13) 1px, rgba(9, 30, 66, 0.08) 1px, rgba(9, 30, 66, 0) 4px);
    content: "";
    color: #6B778C;
}

.navbar {
    width: 100%;
    padding: 20px 35px;
    align-items: center;
    z-index: 1;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display:flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .expandedNavigation {
        display: block;
        position:absolute;
        width: 100vw;
        max-width: 548px;
        top: 0;
        right: 0;
        background-color: rgba(232, 235, 237, 0.87);
        padding: 64px;
        height: 100vh;
    }
    .navigation {
        display: none;
    }

    .moreButton {
        z-index: 10;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 22px;
        height: 16px;
        cursor: pointer;
    }

    .expandedNavigation > a {
        white-space: nowrap;
        display: block;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 4.4rem;
        color: rgb(17, 24, 28);
        text-decoration-thickness: .5px;
        text-decoration-color: rgb(63, 137, 241);
    }
    .expandedNavigation > a:hover {
        color: rgb(63, 137, 241);
    }
}
@media (min-width: 769px) {
    .moreButton {
        display: none;
    }

    .navigation, .expandedNavigation {
        display: flex;
        flex-flow: row;

        gap: 2.25rem;
    }
}

.logo {
    display: flex;
    align-items: stretch;
    flex: 1 1 0%;
    justify-content: flex-start;
    color: hsl(211 100% 15.0%);
    font-size: 16px;
    font-weight:500;
}

.logoGlyph {
    margin-right: 10px;
}

.logoGlyph > path {
    fill: hsl(206 100% 50.0%);
}

.navigation > a, .expandedNavigation > a {
    color: rgb(17, 24, 28);
    text-decoration-thickness: .5px;
    text-decoration-color: rgb(63, 137, 241);
}
.navigation > a:hover, .expandedNavigation > a:hover {
    color: rgb(63, 137, 241);
}

.moreButtonLine {
    background-color: cornflowerblue;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
}