.page {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 768px;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    display: flex;
    flex-flow: column;
}

.title {
    text-align: center;
}

