---
import HomePageFactory from "../components/factories/HomePageFactory.astro";
import RootLayout from "../layouts/RootLayout.astro";
import type { HomePageResponse } from "../strapi";

const response = await fetch(
  `${import.meta.env.API_URL}/api/home-page?populate=*`
);
const { data } = (await response.json()) as HomePageResponse;
---

<RootLayout>
  <div class="flex flex-col items-center gap-6 p-6">
    {
      data && data.attributes ? (
        <HomePageFactory blocks={data.attributes.blocks || []} />
      ) : (
        <p>Uh oh! Something went wrong</p>
      )
    }
  </div>
</RootLayout>
