---
import { AstroComponentInstance } from "astro/dist/runtime/server";
import type { UiHero } from "../../strapi";

export interface Props {
  data: UiHero;
}

const { data } = Astro.props;
---

<div class="text-center">
  <h1 class="text-4xl font-extrabold tracking-tighter">{data.title}</h1>

  <h2>{data.subtitle}</h2>
</div>
