.container {
    padding: 20px;
    width: 315px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    transition: box-shadow 100ms ease-out;
    user-select: none;
    cursor: pointer;
}

.container:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container:active {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.image {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 12px;
}

.title {
    font-weight: bold;
    height: 40px;
    display: flex;
    align-items: center;
}

.description {
    font-size: 12px;
    line-height: 1.75;
    color: grey;
    height: 63px;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.readTime {
    display: flex;
    align-items: center;
    gap: 5px;
}